---
title: Writing
---

%h2
  %a{href: "posts/2026/01/open-source-update.html"}
    Open Source Update / 2025 Summary

%p
  A summary of my open source work from April through December 2025.
  %span{class: "italic text-sm"} (2026-01-03)

%h2
  %a{href: "posts/2025/04/open-source-update.html"}
    Open Source Update / April '25

%p
  An update on my open source work.
  %span{class: "italic text-sm"} (2025-03-08)

%h2
  %a{href: "posts/2025/03/open-source-update.html"}
    Open Source Update / March '25

%p
  The first of a (hopefully) regular series of updates on my open source work.
  %span{class: "italic text-sm"} (2025-03-08)

%h2
  %a{href: "posts/2015/12/abstraction-or-the-gift-of-our-weak-brains.html"}
    Abstraction, or, The Gift of Our Weak Brains

%p
  Our brains are naturally limited. This can be a curse, or it can be a gift, depending on how you look at it.
  %span{class: "italic text-sm"} (2015-12)

%h2 More coming soon

(I promise.)

-#
  %ul
    %li
      2022-07-06 / [Shopify and Open Source: A Mutually Beneficial Relationship](https://shopify.engineering/shopify-open-source-philosophy)
      How to make Ruby a 100-year language.

    %li
      2017-05-24 / [Ruby Values](https://medium.com/@flavorjones/ruby-values-7b5ffe45aea7) (Article) A
      meditation by an aged software engineer on the principles and values learned from the Ruby
      community, and how the GORUCO conference is changing along with the community.

    %li
      2016-03-20 / [Making a Useful C++ Buildpack](https://web.archive.org/web/20160422195511/http://engineering.pivotal.io/post/making-a-useful-c++-buildpack)
      In which I smash together C++ and the cloud native vision of Onsi's famous haiku:
      %blockquote
        %em
          here is my source code
          %br
          run it on the cloud for me
          %br
          i do not care how
    %li
      2015-12-18 / [Abstraction, or, The Gift of Our Weak Brains](http://engineering.pivotal.io/post/abstraction-or-the-gift-of-our-weak-brains/)
      "Our brains are naturally limited. This can be a curse, or it can be a gift, depending on how you look at it."

    %li
      2014-05-06 / [Immersion](https://blog.pivotal.io/labs/labs/immersion)
      "Nothing is hidden, everything is transparent, and you are in the driver’s seat."

  %h2 Posts

  %h3
    %a{href: "posts/2004/10/true-story-this-morning-standing-in.html"} Attention Yankee Fans: You Can't Be My Friend
    %span{class: "text-sm italic"} (2004-10-21)
  %p
    True story: This morning, standing in line for my bagel, a Yankee Fan walks by, whistling. "You
    waiting in line?" I nod. He looks at my hat, the Boston "B" staring him in the face. "Sox Fan,
    huh? Nice job." and he winks at me, smiling. What the ... ?
