---
layout: null
---

%html
  %head
    %title Michael Dalessio
    %script{:src => "https://www.google.com/jsapi"}
    %link{:href => "stylesheet.css", :rel => "stylesheet", :type => "text/css", :media => "screen, print"}
    %meta{:content => "application/html;charset=utf-8", "http-equiv" => "Content-type"}

  %body
    %h2 Selected Talks and Essays

    %div.small.go-right
      %a{:href => 'index.html'} home

    %h3.small.slide.from-transparent
      Occasionally, I Say Things of General Interest

    %div.slide.from-transparent.indent-a-bit
      %dl
        %dt
          :markdown
            2019-05-22: [Embracing Change as an Organization](prez/2019-05_embrace-change-as-an-org_code-climate-summit/index.html) (Slides)
        %dd
          How a 500-person organization can stay agile and embrace change.

        %dt
          :markdown
            2015-12-18: [Abstraction, or, The Gift of Our Weak Brains](http://engineering.pivotal.io/post/abstraction-or-the-gift-of-our-weak-brains/)
        %dd
          "Our brains are naturally limited. This can be a curse, or it can be a gift, depending on how you look at it."

        %dt
          :markdown
            2014-05-06: [Immersion](https://blog.pivotal.io/labs/labs/immersion)
        %dd
          "Nothing is hidden, everything is transparent, and you are in the driver’s seat."

        %dt
          :markdown
            2013-10-02: [enterprise-fu, or, How To Succeed in Business Like A Ninja Samurai](prez/enterprise-asbury-2013-10/slides.html)
        %dd
          Subversive lessons from two decades spent in enterprisey companies.

    %h3.small.slide.from-transparent
      Some Things Are For a Narrower Audience

    %div.slide.from-transparent.indent-a-bit
      %dl
        %dt
          :markdown
            2022-09: [RubyShield, Ruby Central, and Shopify](https://www.programmingthrowdown.com/episodes/146-rubyshield-ruby-central-and-shopify/) (Podcast interview)
        %dd
          :markdown
            Evan Phoenix and I were interviewed by Patrick Wheeler and Jason Gauci on the [Programming Throwdown podcast](https://www.programmingthrowdown.com/) about our personal journies in Ruby, how we learn, and how we came to work together on [RubyShield](https://rubycentral.org/news/ruby-shield/), a security partnership between Shopify and Ruby Central.

        %dt
          :markdown
            2021-11-09: [Put That Test Down, You Don't Know Where It's Been](https://www.youtube.com/watch?v=zOutXbz_7Ns) (Video)
        %dd
          :markdown
            One afternoon in early 2021, a 14-year-old test in Rails started failing. Nobody understood why. This 12 minute video will amuse and/or annoy you with a mystery that spans decades and tech stacks. (Presented at **RubyConf 2021**)

        %dt
          :markdown
            2021-11-09: [Building Native Extensions](https://rubykaigi.org/2021-takeout/presentations/flavorjones.html) Part Two ([Video](https://www.youtube.com/watch?v=ZqSGkNclOh8)) ([Slides](https://docs.google.com/presentation/d/1NSLEhVCD1h11U9hKeUeM8jIeCGlyWP7szph4LnFJAFk/)) ([Code](https://github.com/flavorjones/ruby-c-extensions-explained))
        %dd
          :markdown
            Part two, a bit broader look at C extensions in Ruby, including an explanation of why Nokogiri chose to start precompiling native packages. (Presented at **RubyConf 2021**) 

        %dt
          :markdown
            2021-09-11: [Building Native Extensions](https://rubykaigi.org/2021-takeout/presentations/flavorjones.html) Part One ([Video](https://www.youtube.com/watch?v=oktN_CbOJKc)) ([Slides](https://docs.google.com/presentation/d/1litUWFDOfIiMRiM39B-eSG5IcJPUG5aKYAAOZ8rWLT0/)) ([Code](https://github.com/flavorjones/ruby-c-extensions-explained))
        %dd
          :markdown
            A deep look at the techniques and toolchain used to ship native (precompiled) versions of Nokogiri and other rubygems with C extensions. (Presented at **RubyKaigi 2021**) 

        %dt
          :markdown
            2018-02-21: [Cloud Foundry Overview](https://softwareengineeringdaily.com/2018/02/21/cloud-foundry-overview-with-mike-dalessio/) (Podcast)
        %dd
          :markdown
            In an interview published on the [Software Engineering Daily podcast](https://softwareengineeringdaily.com/), I talk about Cloud Foundry, Pivotal, and a potpourri of other topics.

        %dt
          :markdown
            2017-05-24: [Ruby Values](https://medium.com/@flavorjones/ruby-values-7b5ffe45aea7) (Article)
        %dd
          A meditation by an aged software engineer on the principles and values learned from the Ruby community, and how the GORUCO conference is changing along with the community.

        %dt
          :markdown
            2015-05-28: [why you're in the right place at the right time](https://docs.google.com/presentation/d/1IwUf8uPT8AAscCYMUTyZDz90lYL9EUw5WOEVQ04BBYE) (Presentation)
        %dd
          A talk given to CUNY students and recent grads about the importance of community in shaping a career.

        %dt
          :markdown
            2014-10-10: [Agile Inceptions 101](prez/2014-10-10_inceptions_101/deck/index.html) (Presentation)
        %dd
          An internal "Core Practice" talk given at Pivotal Labs.

        %dt
          :markdown
            2013-09-20: History of Nokogiri ([Video](https://www.youtube.com/watch?v=BbG5slRsJ_0)) ([Slides](prez/nokogiri-gogaruco-2013-09-20/index.html))
        %dd
          :markdown
            The history of a <sup>✌</sup>successful<sup>✌</sup> OSS project, along with humorous stories and lessons learned. This talk, given multiple times, is presented here in its final version from [GoGaRuCo 2013](http://confreaks.tv/events/gogaruco2013).

    %h3.small.slide.from-transparent
      And Some Things are Pretty Esoteric

    %div.slide.from-transparent.indent-a-bit
      %dl
        %dt
          :markdown
            2016-03-20: [Making a Useful C++ Buildpack](https://web.archive.org/web/20160422195511/http://engineering.pivotal.io/post/making-a-useful-c++-buildpack)
        %dd
          In which I smash together C++ and the cloud native vision of Onsi's famous haiku:
          %blockquote
            %em
              here is my source code
              %br
              run it on the cloud for me
              %br
              i do not care how
        %dt
          :markdown
            2010-03-09: [Stupid XML Tricks](prez/loofah-2010-03-09/loofah.html)
        %dd
          Introduction to OSS projects Loofah, Lorax and McBean to modify, compare and transform HTML and XML documents. Presented at NYC.rb.
