@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html { scrollbar-gutter: stable; }

   body {
      font-family: "Literata";
      @apply text-gray-700 dark:text-gray-300 bg-stone-100 dark:bg-stone-900;
   }

   a {
      @apply underline
      text-blue-900 dark:text-blue-100
      hover:text-blue-700 dark:hover:text-blue-300
      ;
   }

   header { @apply pt-6 pb-10; }

   main .prose {
      /* code blocks */
      div.highlight { @apply rounded-md drop-shadow-lg; }

      p.inset {
         img { @apply m-0; }
         @apply m-0;
      }

      a {
         @apply underline
         text-blue-900 dark:text-blue-100
         hover:text-blue-700 dark:hover:text-blue-300
         ;
      }

      section { @apply mb-10; }

      h1, h2, h3, h4, h5, dt, code, em, strong, blockquote {
         @apply text-gray-700 dark:text-gray-300 bg-stone-100 dark:bg-stone-900;
      }

      @apply mx-5 sm:mx-auto text-gray-700 dark:text-gray-300 bg-stone-100 dark:bg-stone-900;
   }

   footer { @apply flex place-content-center pb-10 pt-20 text-gray-400 dark:text-gray-600; }
}
