/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

.question {
   color: white ;
   background-color: #646484 ;
}

.bam {
   color: white ;
   background-color: #224 ;
}

.tangent {
   color: white ! important ;
   background-color: #242 !important ;
}

.newtopic {
   color: white ;
   background-color: #822 ;
}

.advice {
   color: black ;
   background-color: skyblue ;
}

.quote {
   font-style: italic ;
   padding-top: 20% ;
   background-color: black ;
   color: white ;
   vertical-align: center ;
}
